.DeficienciasBoard_option1 {
  margin: 90px;
}
.DeficienciasBoard_header1 {
  text-align: center;
  font-family:
    Comic Sans MS,
    cursive;
  color: #e9013d;
}
.DeficienciasBoard_nav1 {
  text-align: center;
  font-family:
    Comic Sans MS,
    cursive;
}
